.row{
    margin:3rem;
    display: flex;
    flex-wrap: wrap;
    .shelf{
        width:100%;
        padding:1rem;
    }
#depot{
    
    padding:3rem;
}
.mr{
    margin-right:20px;
}
   

}